@model DziennikSportowca.Models.ViewModels.CalculatorsViewModel

@{
    ViewData["Title"] = "Calculators";
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
<script type="text/javascript" src="~/js/UserFigure/Calculators.js"></script>

<div class="container-breadcrumb">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a asp-action="Index">Moje Pomiary</a></li>
        <li class="active"><span>Kalkulatory</span></li>
    </ol>
</div>

<div class="card">
    <ul class="nav nav-tabs calculators">
        <li role="presentation" class="active"><a data-toggle="tab" href="#bmiTab" aria-controls="bmiTab role="tab"">BMI</a></li>
        <li role="presentation"><a data-toggle="tab" href="#pmc" aria-controls="pmc" role="tab">Prawidłowa masa ciala</a></li>
        <li role="presentation"><a data-toggle="tab" href="#ppm" aria-controls="ppm" role="tab">Podstawowa przemiana materii</a></li>
        <li role="presentation"><a data-toggle="tab" href="#cpm" aria-controls="cpm" role="tab">Całkowita przemiana materii</a></li>
    </ul>

    <div class="tab-content">
        <div id="bmiTab" class="tab-pane fade in active" role="tabpanel">
            <h3>BMI</h3>
            <form>
                <div class="form-group">
                    <label>Waga [kg]</label>
                    <input asp-for="Weight" type="number" data-toggle="tooltip" title="Wprowadź wagę w kg" class="form-control" id="weightBMI" placeholder="Waga [kg]" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44"/>
                </div>
                <div class="form-group">
                    <label>Wzrost [cm]</label>
                    <input type="number" data-toggle="tooltip" title="Wprowadź wzrost w cm" class="form-control" id="heightBMI" placeholder="Wzrost [cm]" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44"/>
                </div>
                <div class="form-group">
                    <label>BMI</label>
                    <input type="number" data-toggle="Twoje BMI" class="form-control" id="bmiResult" placeholder="BMI" readonly min="0"/>
                </div>
            </form>
        </div>
        <div id="pmc" class="tab-pane fade" role="tabpanel">
            <h3>Prawidłowa masa ciała</h3>
            <form>
                <div class="form-group">
                    <label>Wzrost [cm]</label>
                    <input type="number" data-toggle="tooltip" title="Wprowadź wzrost w cm" class="form-control" id="heightPMC" placeholder="Wzrost [cm]" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44"/>
                </div>
                <div class="form-group">
                    <label>PMC</label>
                    <input type="number" data-toggle="Twoje PMC" class="form-control" id="pmcResult" placeholder="PMC" readonly min="0"/>
                </div>

                <div class="alert alert-warning" role="alert">
                    <h4>Uwaga!</h4><br />
                    Do obliczenia PMC stosowany jest wzór Amerykańskiego Towarzystwa Ubezpieczeń na życie. Istanieją inne, dlatego też poszczególne wyniki mogą się od siebie różnić.
                </div>
            </form>
        </div>
        <div id="ppm" class="tab-pane fade" role="tabpanel">
            <h3>Podstawowa przemiana materii</h3>
            <form>
                <div class="form-group">
                    <label>Wzrost [cm]</label>
                    <input type="number" data-toggle="tooltip" title="Wprowadź wzrost w cm" class="form-control" id="heightPPM" placeholder="Wzrost [cm]" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44"/>
                </div>
                <div class="form-group">
                    <label>Waga [kg]</label>
                    <input asp-for="Weight" type="number" data-toggle="tooltip" title="Wprowadź wagę w kg" class="form-control" id="weightPPM" placeholder="Waga [kg]" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44"/>
                </div>
                <div class="form-group">
                    <label>Wiek</label>
                    <input type="number" data-toggle="tooltip" title="Wprowadź wiek w latach" class="form-control" id="agePPM" placeholder="Wiek" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44"/>
                </div>
                <div class="form-group">
                    <label>Plec</label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" id="genderPPM" class="gender form-control">
                        <option>Wybierz płeć</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>PPM</label>
                    <input type="number" data-toggle="Twoje PPM" class="form-control" id="ppmResult" placeholder="PPM" readonly min="0"/>
                </div>
            </form>
        </div>
        <div id="cpm" class="tab-pane fade" role="tabpanel">
            <h3>Całkowita przemiana materii</h3>
            <form>
                <div class="form-group">
                    <label>Wzrost [cm]</label>
                    <input type="number" data-toggle="tooltip" title="Wprowadź wzrost w cm" class="form-control" id="heightCPM" placeholder="Wzrost [cm]" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44"/>
                </div>
                <div class="form-group">
                    <label>Waga [kg]</label>
                    <input asp-for="Weight" type="number" data-toggle="tooltip" title="Wprowadź wagę w kg" class="form-control" id="weightCPM" placeholder="Waga [kg]" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44"/>
                </div>
                <div class="form-group">
                    <label>Wiek</label>
                    <input type="number" data-toggle="tooltip" title="Wprowadź wiek w latach" class="form-control" id="ageCPM" placeholder="Wiek" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44"/>
                </div>
                <div class="form-group">
                    <label>Płeć</label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" id="genderCPM" class="gender form-control">
                        <option>Wybierz płeć</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Aktywność fizyczna</label>
                    <select id="userActivityCPM" class="form-control">
                        <option>Wybierz typ aktywności</option>
                        <option value="1.2">Pacjent leżący w lóżku</option>
                        <option value="1.4">Niska aktywność fizyczna</option>
                        <option value="1.6">Umiarkowana aktywność fizyczna</option>
                        <option value="1.75">Aktywny tryb życia</option>
                        <option value="2">Bardzo aktywny tryb życia</option>
                        <option value="2.3">Wyczynowe uprawianie sportu</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>CPM</label>
                    <input type="number" data-toggle="Twoje CPM" class="form-control" id="cpmResult" placeholder="CPM" readonly />
                </div>
            </form>
        </div>
    </div>
</div>