@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Zapomniales/-as hasla?";
}


@*<p>
    For more information on how to enable reset password please see this <a href="https://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>*@

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" id="lost-form" style="display:none;">  
    <div class="modal-body">
        <h4>Wprowadz swoj email</h4>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-3 control-label"></label>
            <div class="col-md-9">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-lg btn-block">Wyslij</button>
            </div>
        </div>
        <div>
            <button id="lost_login_btn" type="button" class="btn btn-link">Zaloguj sie</button>
            <button id="lost_register_btn" type="button" class="btn btn-link">Zarejestruj sie</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
