@model DziennikSportowca.Models.ViewModels.EditExerciseViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-breadcrumb">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a asp-action="Index">Ćwiczenia</a></li>
        <li class="active"><span>Edycja ćwiczenia</span></li>
    </ol>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityTypeId" class="control-label"></label>
                <select asp-for="ActivityTypeId" class="form-control" asp-items="ViewBag.ActivityTypeId"></select>
                <span asp-validation-for="ActivityTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusclePartId" class="control-label"></label>
                <select asp-for="MusclePartId" class="form-control" asp-items="ViewBag.MusclePartId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz ćwiczenie" class="btn btn-success box bar" />
                <a asp-action="Index" class="btn btn-primary box foo">Powrót do listy <i class="fa fa-undo"></i></a>
            </div>
        </form>
    </div>
</div>