@{
    ViewData["Title"] = "Access Denied";
}

<header class="text-center">
    <h1><img src="~/images/security_denied.png" alt=""></h1>
    <h1 class="text-danger">Brak dostępu.</h1>
    <p class="text-danger">Nie masz dostępu do tej strony.</p>
</header>