@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="container-breadcrumb">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a asp-action="Index">Home</a></li>
        <li><a asp-action="ForgotPassword" asp-controller="Account">Zapomniałem hasła</a></li>
        <li class="active"><span>Potwierdzenie resetowania hasła</span></li>
    </ol>
</div>

<p>
    Sprawdź swoją skrzynkę email.
</p>
