@{
    ViewData["Title"] = "Locked out";
}

<div class="container-breadcrumb">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a asp-action="Index">Home</a></li>
        <li class="active"><span>Konto zablokowane</span></li>
    </ol>
</div>

<header>
    <p class="text-danger">Konto zostało zablokowane. Spróbuj ponownie później.</p>
</header>
