/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. MODAL - POCZĄTEK.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/

@import url(http://fonts.googleapis.com/css?family=Roboto);

/** {
    font-family: 'Roboto', sans-serif;
}*/

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

#login-modal {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

#login-modal .modal-dialog {
    width: 350px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.btn {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

@media (min-width: 768px) {
    #center {
        margin: 10px 0 10px 0;
        float: right
    }
}


/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. MODAL - KONIEC.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.container-fluid{
    padding-left: 20px;
    padding-right: 40px;
}

.navbar {
    background-color: #222D32;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.; KLASA DO LOGO APLIKACJI ;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.*/
/*.navbar-brand {
    width: 70px;
    height: 50px;
    background: url('http://www.sneaker-mission.com/uploads/3/1/2/7/31279819/5617441.png') no-repeat center center;
    background-size: 50px;
    padding-top: 7px;
}*/
/*.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.; KLASA DO LOGO APLIKACJI ;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.;.*/


/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. BELKA NAWIGACYJNA - POCZĄTEK.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
    padding-right:30px;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}

.navbar {
    border: none;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right:10px;
}

.icon-size {
    font-size: 87px;
}

.navbar-nav {
    padding-left: 15px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #222D32;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #428bca;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    list-style: none;
    background-color: white;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 0px;
    }
}



/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. BELKA NAWIGACYJNA - KONIEC.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/


/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. MEGA-DROPDOWN - POCZĄTEK.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
.navbar-nav > li > .dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default .navbar-nav > li > #mega {
    width: 90px;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 560px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 558px;
    z-index: 8;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. MEGA-DROPDOWN - KONIEC.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/


/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. BREADCRUMBS - POCZĄTEK.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed;
}

.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}

.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}

.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}

.breadcrumb-arrow li + li:before {
    padding: 0;
    content: ""
}

.breadcrumb-arrow li span {
    padding: 0 10px
}

.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}

.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}

.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda
}

.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}

.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}

.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px
}

.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}

.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9
}

.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9
}

.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}

.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}

.breadcrumb-arrow li span {
    color: #434a54
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. BREADCRUMBS - KONIEC.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. ICONS - POCZĄTEK.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/

.icon-img {
    height:20px;
    width:14px;
}



/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. ICONS - KONIEC.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. PICTURES - POCZĄTEK.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/

.profilePictureContainer {
    width: 90px;
    height: 90px;
}

.profilePicture {
    width: auto;
    height: 90px;
    margin: 0 auto;
    display: block;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. PICTURES - KONIEC.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. BUTTONS - POCZĄTEK.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/

.box {
    position: relative;
    vertical-align: middle;
    color: #FFF;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.5s;
    padding: 0 20px;
    cursor: pointer;
    border: 2px solid #FFF;
    -webkit-transition: 0.5s;
}

.box:hover {
    border: 2px solid rgba(0,160,80,0);
    color: #FFF;
}

.box::before, .box::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
}

.foo::before {
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
    -webkit-transform-origin: 0 100%;
}

.foo::after {
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    -webkit-transform-origin: 100% 0%;
}


.bar::before {
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
    -webkit-transform-origin: 100% 0%;
}

.bar::after {
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    -webkit-transform-origin: 0% 100%;
}

.curmudgeon::before {
    border-bottom: 3px solid #FFF;
    border-left: 0;
    -webkit-transform-origin: 0% 100%;
}

.curmudgeon::after {
    border-top: 0;
    border-right: 0;
    -webkit-transform-origin: 50% 50%;
}

.box:hover::after, .box:hover::before {
    -webkit-transform: scale(1);
}

.link {
    line-height: 1em;
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 50px;
    font-family: "Open Sans","Roboto",Arial,sans-serif;
    text-align: right;
}

.link > a {
    text-decoration: none;
    color: #FF0;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. BUTTONS - KONIEC.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. PRELOADER - POCZĄTEK.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0); /* IE 9 */
    transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%); /* IE 9 */
    transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%); /* IE 9 */
    transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*. PRELOADER - KONIEC.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/